@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="w-100 h-100 d-flex">
        <div class="col-3" style="padding-right: 10px;">
            <ul class="list-group">
                <ul class="list-group ">
                    <li class="list-group-item">
                        <a asp-controller="Account" asp-action="Users"
                            class="text-dark" style="text-decoration: none;">
                            <i class="bi bi-person-gear"></i> จัดการผู้ใช้งาน
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="text-dark" style="text-decoration: none;">
                            <i class="bi bi-bag"></i> รายการสั่งซื้อ
                        </a>
                    </li>
                </ul>

                <ul class="list-group mt-2">
                    <li class="list-group-item">
                        <a href="#" class="text-dark" style="text-decoration: none;">
                            <i class="bi bi-book"></i> จัดการหนังสือ
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a asp-controller="Book" asp-action="Category" class="text-dark" style="text-decoration: none;">
                            <i class="bi bi-tag"></i> จัดการหมวดหมู่
                        </a>
                    </li>
                </ul>
            </ul>
        </div>

        <div class="col-9 px-4 border rounded">
            @RenderBody()
        </div>
    </div>
</div>