@model Account
@{
    var msg = TempData["LoginSuccess"] as string;
    var errMsg = TempData["LoginError"] as string;
    ViewData["Title"] = "เข้าสู่ระบบ";
}

<div class="w-100 h-100 py-2 d-flex flex-column justify-content-center item-align-center
    bg-md-danger">
    <div class="container border rounded
       d-flex flex-column justify-content-center align-items-center bg-white">
        <div class="border-4 pt-4 w-100 text-center">
            <h1 class="fw-bold text-primary "><i class="bi bi-box-arrow-in-right mx-3"></i>LOGIN FORM</h1>
            <hr>
        </div>
        @if (!string.IsNullOrEmpty(errMsg))
        {
            <div class="w-100 alert alert-danger text-center" role="alert">
                @errMsg
            </div>
        }

        <div class="w-100">
            <form method="POST" asp-controller="Account" asp-action="Login" class="row pb-4 gy-2 gx-4">
                <div class="col-12">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input asp-for="Username" type="text" class="form-control" style="background-color:#f9fafb;">
                </div>
                <div class="col-12">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" style="background-color:#f9fafb;">
                </div>

                <div class="p-3 w-100">
                    <hr>
                    <button class="btn btn-primary btn-md" type="submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>
 