@model BooksViewHome;
@{
    ViewData["Title"] = "หน้าแรก";
}


    <div class="w-100 d-flex flex-row">
        <input type="text" class="form-control w-100" placeholder="ค้นหาหนังสือ">
        <button class="btn btn-primary px-4" style="margin-left: 5px;">ค้นหา</button>
    </div>


    <div class="mt-4">
        <div>
            <div class="d-flex justify-content-between align-items-end px-1">
                <h4 class="mt-4">แนะนำสำหรับคุณ</h4>
                <h5 class="mt-4 text-primary">ทั้งหมด</h5>
            </div>
            <div class="border" style="height: 1px;"></div>
        </div>

        <div class="mt-2 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 gy-2">
            @foreach(var book in Model.Books){
            <div style="cursor: pointer;">
                <a asp-controller="Book" asp-action="BookDetail" asp-route-id="@book.Id"
                style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="/bookCovers/@book.Image" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 1rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                    ">
                                @book.Title
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿ @book.Price
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>

    <div class="mt-4">
        <div>
            <div class="d-flex justify-content-between align-items-end px-1">
                <h4 class="">หมวดหมู่</h4>
            </div>
            <div class="border" style="height: 1px;"></div>
        </div>
        <div class="mt-2 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 px-2">
            @foreach (var item in Model.Categories)
            {
                <div class="p-2">
                    <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                        @item.Name
                    </div>
                </div>
            }
        </div>
    </div>
