
@{
    ViewData["Title"] = "หน้าแรก";
}


    <div class="w-100 d-flex flex-row">
        <input type="text" class="form-control w-100" placeholder="ค้นหาหนังสือ">
        <button class="btn btn-primary px-4" style="margin-left: 5px;">ค้นหา</button>
    </div>

    <div class="mt-4">
        <div>
            <div class="d-flex justify-content-between align-items-end px-1">
                <h4 class="">หมวดหมู่</h4>
            </div>
            <div class="border" style="height: 1px;"></div>
        </div>
        <div class="mt-2 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 px-2">
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    กำลังภายใน
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    ตลก
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    แฟนตาซี
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    รักจีนโบราณ
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    รักวัยรุ่น
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    วาย
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    ยูริ
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    ลึกลับ/เขย่าขวัญ
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    ชีวิต/ดราม่า
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    แอคชั่น
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    ไลท์โนเวล
                </div>
            </div>
            <div class="p-2">
                <div class="border px-4 py-3 rounded" style="cursor: pointer;">
                    สืบสวนสอบสวน
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div>
            <div class="d-flex justify-content-between align-items-end px-1">
                <h4 class="mt-4">นิยายขายดี</h4>
                <h5 class="mt-4 text-primary">ทั้งหมด</h5>
            </div>
            <div class="border" style="height: 1px;"></div>
        </div>

        <div class="mt-2 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 gy-2">
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div>
            <div class="d-flex justify-content-between align-items-end px-1">
                <h4 class="mt-4">แนะนำสำหรับคุณ</h4>
                <h5 class="mt-4 text-primary">ทั้งหมด</h5>
            </div>
            <div class="border" style="height: 1px;"></div>
        </div>

        <div class="mt-2 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 gy-2">
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer;">
                <a href="/bookDetail.html" style="text-decoration: none; color: black;">
                    <div class="h-100" style="min-height: 250px; max-height:250px;">
                        <img class="border p-2"
                             style="object-fit:contain; min-height: 250px; max-height:250px;
                             max-width: auto; width: 100%;"
                             src="https://i.pinimg.com/236x/76/db/68/76db6885c6dab57e0eca2ea33371c2cd.jpg" alt="">
                    </div>
                    <div class="border " style=" max-width: auto; width: 100%;">
                        <div style="max-height: 50px; min-height: 50px;">
                            <p class="px-2 pt-1" style="
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    font-size: 0.9rem;
                                    text-overflow: clip;
                                    white-space: normal;
                                ">
                                HE CALLED ME BLUE ROSSES
                            </p>
                        </div>
                        <div class="px-2 pb-1">
                            <span class="text-primary fs-4">
                                ฿199.90
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
